/* 
    General Styles
*/
body {
    background-color: black;
}

.navbar {
    background-color: rgb(0, 42, 255);
}

.navbar-title {
    color: white;
}
img {
    width: 100px;
    margin-left: 30px;
}

.container {
    margin-top: 50px;
    position: relative;
    
}

.card-body {
    background: rgb(169,177,241);
    background: linear-gradient(90deg, rgba(169,177,241,1) 0%, rgba(5,25,185,1) 76%, rgba(9,1,98,1) 100%);
    border: none;
    box-shadow: 0 0 15px 0 white;
    
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.btn1  {
    border-radius: 50px;
    border: none;
    background-color: rgb(74, 88, 239);
    width: 100px;
    cursor: pointer;
    
}
.btn2 {
    border-radius: 50px;
    border: none;
    background-color: rgb(217, 6, 6);
    width: 100px;
    cursor: pointer;
    
  
}